.body{
    max-width: 500px;
    margin: auto;
    background-color: #e7e7e7;
 }

.header{
    max-width: 500px;
    margin: auto;
    background-color: #1a1a1a;
}

.content{
    margin: auto;
    width:60%;
}
